<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css"
href="../static/css/403.css"
th:href="@{/css/403.css}" />

</head>
<body>

<h1 class="text"><span>403</span></h1>

</body>
</html>