<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Authentification</title>
<link rel="stylesheet" type="text/css"
href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css"
href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" /></head>
<body>

<div class="col-md-4 col-md-offset-3 spacer40">
  <div class="panel panel-primary">
	<div class="panel-heading">Authentification</div>
	<div class="panel-body" oncancel="">
		
		<div th:if="${param.error}" class="red" oncancel="">
			<label>Login ou mot de passe incorrect</label>
		</div>
		
		<div th:if="${param.logout}" class="red" oncancel="">
			<label>Vous vous etes deconnecte</label>
		</div>
	
		<form th:action="@{/login}" method="post" >
		<div>
			<label>Login</label>
			<input type="text" name="login"/>
		</div>
		<div>
			<label>Mot de passe</label>
			<input type="password" name="password"/>
		</div>
		<button type="submit">Login</button>
		</form>
	</div>
	</div>
</div>

</body>
</html>